#main_content {
    top: 160px;
    left: 160px;
    width: 800px;
    min-height: 500px;
    height: auto;
    background-color: #fff;
    position: relative;
}

#container {
    left:25%;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}