<div id="main_content">
    <div id="container">
        <p-card header="LOGIN" subheader="" [style]="{width: '360px'}" styleClass="ui-card-shadow" style="text-align: center;">
            <p-header>
                <img src="Card" src="assets/images/logo.png">
            </p-header>
            <div style="text-align: center;">
                <h5 class="first">Username</h5>
                <input type="text" pInputText>
                <br><br>
                <h5 class="first">Password</h5>
                <input type="password" pPassword />
            </div>
            <p-footer>
                <button type="submit" class="btn btn-secondary" (click)="submit()">Submit</button>
            </p-footer>
        </p-card>
    </div>
</div>